.card-width {
    max-width: 18rem;
 }
.imagem-carousel-1 {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}
.imagem-carousel-2 {
    object-fit: cover;
    height: 400px;
}

.font-title {
    font-family: 'Pacifico', cursive;
}

.title-color {
    color: darkred!important;
}

.botao-cor-especial {
    background-color: darkred;
    color: #FFF;
}

.card-border-color {
    border-color: darkred;
}

.card-img-position {
    object-fit: cover;
    height: 200px;
}